*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


body{
    background-color: rgb(20, 0, 20);
}

.sidebox{
    position: fixed;
    width: 18vw;
    height: 100%;
    border-right: 1px solid rgba(128, 128, 128, 0.425);
}
.sidebox .logo img {
    filter: invert(100%);
    width: 105px;
    margin-left: 1.8vw;
    margin-top: 6vh;
    
}

.tabbox{
    
    margin-top: 2.8vh;
}

.tabs{
    font-size: 1rem;
    color: white;
    margin-top: 5px;
    margin-right: 0.5vw;
    margin-left: 0.9vw;
    font-weight: 550;
    display: flex;
    gap: 5px;
    padding: 1.5vh;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.tabs:hover{
    scale: 102%;
    transition: ease-in-out;
}

.tabs:hover{
    background-color: rgba(83, 57, 100, 0.63);
}

.tabs img{
    filter: invert(100%);
    width: 2.5vw;
    height: 2.3vw;
    
}

.menu {
    height: 5vh;
    color: white;
    font-size: 1.5rem;
    margin-top: 6vh;
    margin-left: 0.9vw;
    margin-right: 0.5vw;
    display: flex;
    text-align: center;
    gap: 10px;
    padding: 1.3vh 1vw 1.3vh 1vw;
    border-radius: 10px;
}
.menu img{
    width: 2.5vw;
    filter: invert(100%);
}

.menu:hover{
    background-color: rgba(83, 57, 100, 0.63);
}

.storys{
    position: absolute;
    height: 20vh;
    width: 47vw;
    /* background-color: red; */
    margin: 5vh;
    margin-left: 21.5vw;
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
}

.story{
    width: 4.6vw;
    height: 9vh;
    border-radius: 50%; 
    border: 2px solid rgb(196, 4, 196); 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.story:hover{
    filter: opacity(0.8);
    scale: 110%;
    transition: ease-in-out;
    transition-duration: 0.05s;
    transition-timing-function: linear;
}

.story img{
    height: 8.9vh;
    width: 4.4vw;
    object-fit: cover;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.storyuser {
    position: absolute;
    display: flex;
    gap: 30px;
    margin-top: 15vh;
    margin-left: 22vw;
    color: white;
    font-weight: 500;
    font-size: 13px;
    cursor: pointer;

}



.container nav img{
    position: absolute;
    width: 3vw;
    height: 6vh;
    margin-top: 23vh;
    margin-left: 27vw;
    border-radius: 50%;
    border: 2px solid rgb(196, 4, 196)  ;
    cursor: pointer;
}

.container nav img:hover{
    opacity: 0.8;
}

.container h3{
    position: absolute;
    width: 10vw;
    height: 6vh;
    margin-top: 23vh;
    margin-left: 31vw;
    font-weight: 500;
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
}

.container h3:hover{
    opacity: 0.8;
    scale: 99%;
    transition: linear ;
    transition-duration: 0.2s;
}
.container video{
    width: 35vw;
    height: 80vh;
    margin-top: 32vh;
    margin-left: 27vw;
    background-color: rgba(43, 43, 43, 0.445);
    border-radius: 10px;
}

.icon{
    margin-left: 27vw;
}

.icon img {
    width: 2.5vw;
    height: 5vh;
    margin-top: 1vh;
    margin-left: 0.2vw;
    border-radius: 50%;
    cursor: pointer;
    filter: invert(100%);
}

.icon img:hover{
    opacity: 0.6;
}


.likes{
    margin-left: 27vw;
    color: white;
    line-height: 25px;
}

.likes .more{
    opacity: 0.8;
    cursor: pointer;
}

.likes .com{
    opacity: 0.6;
    cursor: pointer;
}

.likes input{
    padding-right: 20vw;
    height: 5vh;
    border: none;
    font-size: 18px;
    background-color: transparent;
    color: white;
}

.downborder{
    width: 36vw;
    border-bottom: 2px solid rgba(78, 78, 78, 0.404);
    margin-left: 27vw;
}









.container2 nav img{
    position: absolute;
    width: 3vw;
    height: 6vh;
    margin-top: 2vh;
    margin-left: 27vw;
    border-radius: 50%;
    border: 2px solid rgb(196, 4, 196)  ;
    cursor: pointer;
}

.container2 nav img:hover{
    opacity: 0.8;
}

.container2 h3{
    position: absolute;
    width: 10vw;
    height: 6vh;
    margin-top: 2vh;
    margin-left: 31vw;
    font-weight: 500;
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
}

.container2 h3:hover{
    opacity: 0.8;
    scale: 99%;
    transition: linear ;
    transition-duration: 0.2s;
    color: white;
}
.container2 video{
    width: 35vw;
    height: 80vh;
    margin-top: 11vh;
    margin-left: 27vw;
    background-color: rgba(43, 43, 43, 0.445);
    border-radius: 10px;
}

.icon{
    margin-left: 27vw;
}

.icon img {
    width: 2.5vw;
    height: 5vh;
    margin-top: 1vh;
    margin-left: 0.2vw;
    border-radius: 50%;
    cursor: pointer;
    filter: invert(100%);
}

.icon img:hover{
    opacity: 0.6;
}


.likes{
    margin-left: 27vw;
    color: white;
    line-height: 25px;
}

.likes .more{
    opacity: 0.8;
    cursor: pointer;
}

.likes .com{
    opacity: 0.6;
    cursor: pointer;
}

.likes input{
    padding-right: 20vw;
    height: 5vh;
    border: none;
    font-size: 18px;
    background-color: transparent;
    color: white;
}

.downborder{
    width: 36vw;
    border-bottom: 2px solid rgba(78, 78, 78, 0.404);
    margin-left: 27vw;
}




.container3 nav img{
    position: absolute;
    width: 3vw;
    height: 6vh;
    margin-top: 2vh;
    margin-left: 27vw;
    border-radius: 50%;
    border: 2px solid rgb(196, 4, 196)  ;
    cursor: pointer;
}

.container3 nav img:hover{
    opacity: 0.8;
}

.container3 h3{
    position: absolute;
    width: 10vw;
    height: 6vh;
    margin-top: 2vh;
    margin-left: 31vw;
    font-weight: 500;
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
}

.container3 h3:hover{
    opacity: 0.8;
    scale: 99%;
    transition: linear ;
    transition-duration: 0.2s;
}
.container3 video{
    width: 35vw;
    height: 80vh;
    margin-top: 11vh;
    margin-left: 27vw;
    background-color: rgba(43, 43, 43, 0.445);
    border-radius: 10px;
}

.icon{
    margin-left: 27vw;
}

.icon img {
    width: 2.5vw;
    height: 5vh;
    margin-top: 1vh;
    margin-left: 0.2vw;
    border-radius: 50%;
    cursor: pointer;
    filter: invert(100%);
}

.icon img:hover{
    opacity: 0.6;
}


.likes{
    margin-left: 27vw;
    color: white;
    line-height: 25px;
}

.likes .more{
    opacity: 0.8;
    cursor: pointer;
}

.likes .com{
    opacity: 0.6;
    cursor: pointer;
}

.likes input{
    padding-right: 20vw;
    height: 5vh;
    border: none;
    font-size: 18px;
    background-color: transparent;
    color: white;
}

.downborder{
    width: 36vw;
    border-bottom: 2px solid rgba(78, 78, 78, 0.404);
    margin-left: 27vw;
}




.container4 nav img{
    position: absolute;
    width: 3vw;
    height: 6vh;
    margin-top: 2vh;
    margin-left: 27vw;
    border-radius: 50%;
    border: 2px solid rgb(196, 4, 196)  ;
    cursor: pointer;
}

.container4 nav img:hover{
    opacity: 0.8;
}

.container4 h3{
    position: absolute;
    width: 10vw;
    height: 6vh;
    margin-top: 2vh;
    margin-left: 31vw;
    font-weight: 500;
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
}

.container4 h3:hover{
    opacity: 0.8;
    scale: 99%;
    transition: linear ;
    transition-duration: 0.2s;
}
.container4 video{
    width: 35vw;
    height: 80vh;
    margin-top: 11vh;
    margin-left: 27vw;
    background-color: rgba(43, 43, 43, 0.445);
    border-radius: 10px;
}

.icon{
    margin-left: 27vw;
}

.icon img {
    width: 2.5vw;
    height: 5vh;
    margin-top: 1vh;
    margin-left: 0.2vw;
    border-radius: 50%;
    cursor: pointer;
    filter: invert(100%);
}

.icon img:hover{
    opacity: 0.6;
}


.likes{
    margin-left: 27vw;
    color: white;
    line-height: 25px;
}

.likes .more{
    opacity: 0.8;
    cursor: pointer;
}

.likes .com{
    opacity: 0.6;
    cursor: pointer;
}

.likes input{
    padding-right: 20vw;
    height: 5vh;
    border: none;
    font-size: 18px;
    background-color: transparent;
    color: white;
}

.downborder{
    width: 36vw;
    border-bottom: 2px solid rgba(78, 78, 78, 0.404);
    margin-left: 27vw;
}




.container5 nav img{
    position: absolute;
    width: 3vw;
    height: 6vh;
    margin-top: 2vh;
    margin-left: 27vw;
    border-radius: 50%;
    border: 2px solid rgb(196, 4, 196)  ;
    cursor: pointer;
}

.container5 nav img:hover{
    opacity: 0.8;
}

.container5 h3{
    position: absolute;
    width: 10vw;
    height: 6vh;
    margin-top: 2vh;
    margin-left: 31vw;
    font-weight: 500;
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
}

.container5 h3:hover{
    opacity: 0.8;
    scale: 99%;
    transition: linear ;
    transition-duration: 0.2s;
}
.container5 video{
    width: 35vw;
    height: 80vh;
    margin-top: 11vh;
    margin-left: 27vw;
    background-color: rgba(43, 43, 43, 0.445);
    border-radius: 10px;
}

.icon{
    margin-left: 27vw;
}

.icon img {
    width: 2.5vw;
    height: 5vh;
    margin-top: 1vh;
    margin-left: 0.2vw;
    border-radius: 50%;
    cursor: pointer;
    filter: invert(100%);
}

.icon img:hover{
    opacity: 0.6;
}


.likes{
    margin-left: 27vw;
    color: white;
    line-height: 25px;
}

.likes .more{
    opacity: 0.8;
    cursor: pointer;
}

.likes .com{
    opacity: 0.6;
    cursor: pointer;
}

.likes input{
    padding-right: 20vw;
    height: 5vh;
    border: none;
    font-size: 18px;
    background-color: transparent;
    color: white;
}

.downborder{
    width: 36vw;
    border-bottom: 2px solid rgba(78, 78, 78, 0.404);
    margin-left: 27vw;
}







.profilecontainer{
    width: 22vw;
    height: 7vh;
    /* background-color: blue; */
    margin-left: 2.8vw;
    margin-top: -5.8%;
    gap: 10px;
    display: flex;
   
}

.profilecontainer p{
    padding-top: 1vh;
    font-size: 15px;
    /* display: flex; */
}
.profilecontainer .p2{
    width: 100vw;
    font-size: 13px;
    /* display: flex; */
    margin-top: 20px;
    margin-left: -30%;
    opacity: 0.8;
}


.profilecontainer img{
    width: 3.5vw;
    height: 7.5vh;
    border-radius: 50%;
}

.switch1{
    text-decoration: none;
    color: rgb(56, 56, 248);
    font-size: 13px;
    margin-left: 0.3vw;
    margin-top: 2.5vh;
    font-weight: 800;
}

.sugg{
    /* background-color: aqua; */
    width: 99vw;
    height: 4vh;
    margin-top: 4vw;
    margin-left: -22vw;
    opacity: 0.8;
    font-weight: 900;
    font-size: 300px;
}

.suggac{
    width: 22vw;
    margin-top: 7vw;
    margin-left: -15vw;
    display: flex;
    gap: 8px;
}

.p3{
    font-size: -80px;
    display: flex;
    margin-top: 20px;
    margin-left: -25%;
    opacity: 0.8;
    font-weight: 100;
}


.switch2{
    text-decoration: none;
    color: rgb(56, 56, 248);
    font-size: 13px;
    margin-left: 5vw;
    margin-top: 2.5vh;
    font-weight: 800;
}


.switch1:hover{
    opacity: 0.8;
}

.follow{
    text-decoration: none;
    color: rgb(56, 56, 248);
    font-size: 13px;
    margin-left: 7vw;
    margin-top: 2.5vh;
    font-weight: 800;
}

.follow:hover{
    opacity: 0.8;
}



.suggac1{
    width: 22vw;
    margin-top: 11.4vw;
    margin-left: -22.8vw;
    display: flex;
    gap: 8px;
}


.suggac2{
    width: 22vw;
    margin-top: 15.8vw;
    margin-left: -22.8vw;
    display: flex;
    gap: 8px;
}




.suggac4{
    width: 22vw;
    margin-top: 20.4vw;
    margin-left: -22.5vw;
    display: flex;
    gap: 8px;
}


.suggac51{
    width: 22vw;
    margin-top: 24.8vw;
    margin-left: -22.7vw;
    display: flex;
    gap: 8px;
}



.links{
    position: absolute;
    width: 20vw;
    font-size: 13px;
    margin-top: 70vh;
    margin-left: 73vw;
    line-height: 3vh;
}

.links a{
    text-decoration: none;
    color: white;
    font-weight: 100;
    opacity: 0.6;
}


.links a:hover{
    text-decoration: underline;
}

.links p{
    color: white;
    opacity: 0.6;
    margin-top: 2vh;
}